<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include

			resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="STDOUT"
			  class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%X{logId}][%10.10X{ifId}][%15.15X{ifIdNm}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="DBSQL"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/dbSql.log</file>
		<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%X{logId}][%10.10X{ifId}][%15.15X{ifIdNm}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/dbSql-%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<!-- each file should be at most 10MB, keep 30 days worth of history -->
			<!-- <maxHistory>30</maxHistory> -->
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/pps.log</file>
		<encoder
				class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%X{logId}][%10.10X{ifId}][%15.15X{ifIdNm}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/pps-%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<!-- each file should be at most 10MB, keep 30 days worth of history -->
			<!-- <maxHistory>30</maxHistory> -->
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>



	<root level="INFO" >
		<appender-ref ref="FILE" />
	</root>
	<logger name="com.zaxxer.hikari.HikariDataSource" level="OFF" />
	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.sqltiming" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DBSQL"/>
	</logger>
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.resultsettable" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DBSQL"/>
	</logger>
	<logger name="jdbc.connection" level="OFF" />



</configuration>
